* {
        color: #004f2d; /*primary*/
        color: #007547; /*secondary*/
        color: #00A36C; /*accent*/
        color: #EBFFF1; /*neutral*/
        color: #1A1A1A; /*neutral*/
        color: #4A4A4A; /*paragraph*/
}